/* colorDissolve  */
@width:287px; // width of the carousel
@height: 430px; // height of the carousel
@numberOfItems: 4; // the number of items in the carousel
@visibleItemDuration: 4s; // time during which a carousel item is fully visible
@transitionDuration: 1s; // duration of the transition between two carousel items
@dissolveColor: #000; // a color to dissolve through

@oneItemDuration: @visibleItemDuration + 2 * @transitionDuration;
@carouselPeriod: @oneItemDuration * @numberOfItems;

.colorDissolve {
    position:relative;
    overflow: hidden;
    width:@width;
    height: @height;
    background: @dissolveColor;

    .item {
        position:absolute;
        left: 0;
        right:0;
        opacity: 0;

        -webkit-animation: colorDissolve @carouselPeriod linear infinite;
        -moz-animation: colorDissolve @carouselPeriod linear infinite;
        -ms-animation: colorDissolve @carouselPeriod linear infinite;
        animation: colorDissolve @carouselPeriod linear infinite;

        &:nth-child(2) {
            -webkit-animation-delay: @oneItemDuration;
            -moz-animation-delay: @oneItemDuration;
            -ms-animation-delay: @oneItemDuration;
            animation-delay: @oneItemDuration;
        }
        &:nth-child(3) {
            -webkit-animation-delay: 2 * @oneItemDuration;
            -moz-animation-delay: 2 * @oneItemDuration;
            -ms-animation-delay: 2 * @oneItemDuration;
            animation-delay: 2 * @oneItemDuration;
        }
        &:nth-child(4) {
            -webkit-animation-delay: 3 * @oneItemDuration;
            -moz-animation-delay: 3 * @oneItemDuration;
            -ms-animation-delay: 3 * @oneItemDuration;
            animation-delay: 3 * @oneItemDuration;
        }
    }
}

/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
*/
/* If you plan to support Safari 4 for any reason, you *must* have 0% and 100% frames */
@-webkit-keyframes colorDissolve {
    0%, 25%, 100% { opacity: 0; }
    4.17%, 20.84% { opacity: 1;}
}
@-moz-keyframes colorDissolve {
    0%, 25%, 100% { opacity: 0; }
    4.17%, 20.84% { opacity: 1;}
}
@-ms-keyframes colorDissolve {
    0%, 25%, 100% { opacity: 0; }
    4.17%, 20.84% { opacity: 1;}
}
@keyframes colorDissolve {
    0%, 25%, 100% { opacity: 0; }
    4.17%, 20.84% { opacity: 1;}
}