/* horizontal */
@width:287px; // width of the carousel
@numberOfItems: 4; // the number of items in the carousel
@visibleItemDuration: 4s; // time during which a carousel item is fully visible
@transitionDuration: 1s; // duration of the transition between two carousel items

@carouselPeriod: @numberOfItems * (@visibleItemDuration + @transitionDuration);

.horizontal {
    width: @width;
    position: relative;
    overflow: hidden;
    .items {
        width: @width * @numberOfItems;

        -webkit-animation: hscroll @carouselPeriod infinite;
        -moz-animation: hscroll @carouselPeriod infinite;
        -ms-animation: hscroll @carouselPeriod infinite;
        animation: hscroll @carouselPeriod infinite;
    }
    .item {
        margin: 0;
        float:left;
        width: @width;
    }
}
/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
*/
@-webkit-keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -1px * @width; }
    50%, 68.75% { margin-left: -2px * @width; }
    75%, 93.75% { margin-left: -3px * @width; }
    100%  { margin-left: 0 }
}
@-moz-keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -1px * @width; }
    50%, 68.75% { margin-left: -2px * @width; }
    75%, 93.75% { margin-left: -3px * @width; }
    100%  { margin-left: 0 }
}
@-ms-keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -1px * @width; }
    50%, 68.75% { margin-left: -2px * @width; }
    75%, 93.75% { margin-left: -3px * @width; }
    100%  { margin-left: 0 }
}
@keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -1px * @width; }
    50%, 68.75% { margin-left: -2px * @width; }
    75%, 93.75% { margin-left: -3px * @width; }
    100%  { margin-left: 0 }
}