/* horizontal */
.horizontal {
    width: 287px;
    position: relative;
    overflow: hidden;
}
.horizontal .items {
    width: 1148px;
    -webkit-animation: hscroll 20s infinite;
    -moz-animation: hscroll 20s infinite;
    -ms-animation: hscroll 20s infinite;
    animation: hscroll 20s infinite;
}
.horizontal .item {
    margin: 0;
    float: left;
    width: 287px;
}
/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
*/
@-webkit-keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -287px; }
    50%, 68.75% { margin-left: -574px; }
    75%, 93.75% { margin-left: -861px; }
    100%  { margin-left: 0 }
}
@-moz-keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -287px; }
    50%, 68.75% { margin-left: -574px; }
    75%, 93.75% { margin-left: -861px; }
    100%  { margin-left: 0 }
}
@-ms-keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -287px; }
    50%, 68.75% { margin-left: -574px; }
    75%, 93.75% { margin-left: -861px; }
    100%  { margin-left: 0 }
}
@keyframes hscroll {
    0%, 18.75%  { margin-left: 0 }
    25%, 43.75% { margin-left: -287px; }
    50%, 68.75% { margin-left: -574px; }
    75%, 93.75% { margin-left: -861px; }
    100%  { margin-left: 0 }
}